<template name="hello">
 <div class="app">
  <h1>Chatapp</h1>
 
  <div class="panel"> 
    {{> loginButtons}}
 <form class="new-task">
    <label for="TO">Ontvanger:</label>
    <select name="TO" id="TO">
      <option value="Receiver">receiver</option>
      <option value="user1">user1</option>
      <option value="user2">user2</option>
     
    </select>
     <input type="text" id='mesg' name="mes" placeholder="typ hier uw bericht in" />         
    <input value="verzenden!" type="submit">
   
   </form>


  </div>
  <div class="subs"> 
<ul>

  {{#each messages}}
    {{> message}}
  {{/each}}
 
</ul>
  </div>
 
</div>


</template>

<template name="message">
  <li>{{username}}:{{message}}</li>
</template>