
  .app {
    width: 70%;
    margin: 0 auto;
    .panel {
      width: 50%;
      float: left;
      background-color: rgb(221, 221, 221);

      form{
          text-align: center;
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          #mesg{
              width:300px
          }
          input{
              margin: 10px;
          }
      }
    }
    .subs {
      width: 50%;
      float: right;
      background-color: darkgray;
    }
  }